<%- include("../partials/html-head") %> <%- include("../partials/html-navbar")
%>
<div class="container mx-auto">
  <div>
    <div class="join mt-4">
      <a class="join-item btn btn-sm <%= page==1 ? 'btn-disabled' : '' %>" href="?page=1">
        <i class="fa-solid fa-angles-left"></i>
      </a>
      <a class="join-item btn btn-sm <%= page==1 ? 'btn-disabled' : '' %>" href="?page=<%= page-1 %>">
        <i class="fa-solid fa-angle-left"></i>
      </a>
      <% for(let i=page-5; i<=page+5; i++) if(i>=1 && i<=totalPages){ %> <%
      if(page==i){ %>
      <span class="join-item btn btn-sm btn-active cursor-default"><%= i %></span>
      <% } else { %>
      <a class="join-item btn btn-sm" href="?page=<%= i %>"><%= i %></a>
      <% } %> <% } %>
      <a class="join-item btn btn-sm <%= page==totalPages ? 'btn-disabled' : '' %>" href="?page=<%= page+1 %>">
        <i class="fa-solid fa-angle-right"></i>
      </a>
      <a class="join-item btn btn-sm <%= page==totalPages ? 'btn-disabled' : '' %>" href="?page=<%= totalPages %>">
        <i class="fa-solid fa-angles-right"></i>
      </a>
    </div>
  </div>

  <div class="overflow-x-auto mt-4">
    <table class="table table-zebra border border-base-300">
      <thead class="bg-base-300">
        <tr>
          <th>#</th>
          <th>姓名</th>
          <th>手機</th>
          <th>電郵</th>
          <th>生日</th>
          <th>地址</th>
        </tr>
      </thead>
      <tbody>
        <% for(let r of rows){ %>
        <tr>
          <td><%= r.ab_id %></td>
          <td><%= r.name %></td>
          <td><%= r.mobile %></td>
          <td><%= r.email %></td>
          <td><%= r.birthday %></td>
          <td><%= r.address %></td>
        </tr>
        <% } %>
      </tbody>
    </table>
  </div>

  <%- include("../partials/html-scripts") %> <%-
  include("../partials/html-tail") %>
</div>
